src/* linguist-documentation=false
src/* linguist-vendored
src/.vitepress/* linguist-documentation=false
src/.vitepress/* linguist-vendored
src/.vitepress/theme/* linguist-documentation=false
src/.vitepress/theme/* linguist-vendored