@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.6.0/style.min.css");
:root {
  --vp-c-brand: #a27b5c;
  --vp-c-brand-light: #a27b5c;
  --vp-c-brand-dark: #a27b5c;
  --vp-c-hover: #212121;
  --vp-c-bg: #faf6f1;
  --vp-c-bg-alpha-with-backdrop: rgba(250, 246, 241, 0.7);

  --vp-c-color-b: #26ccff;
  --vp-c-color-c: #0cb9ed;
  --vp-c-color-d: #a15000;
  --vp-c-color-e: #ed7c0c;

  --vp-font-family-base: "LXGW WenKai Lite", "Inter var experimental",
    "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vp-font-family-mono: "LXGW WenKai Mono Lite", ui-monospace, SFMono-Regular,
    "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --vp-avator-border: #ffffff;
}
.dark {
  --vp-c-bg: #2c3639;
  --vp-c-text: white;
  --vp-c-hover: #ffffff;
  --vp-c-bg-alpha-with-backdrop: rgba(44, 54, 57, 0.7);
  --vp-avator-border: #3f4e4f;
}
#app {
  min-height: 100vh;
  position: relative;
}

.theme {
  background-color: var(--vp-c-bg);
}

.vp-doc h2 {
  margin-top: 0;
  border-top: none;
}

.VPDocOutlineDropdown {
  display: none !important;
}
