
    .footer-bottom{
        border-top: 0.5px solid #999999;
        display: flex;
        justify-content: center;
        margin:30px 30px 0 30px;
    }
    .footer-bottom a {
      color: #999999;
      margin: 15px 0;
      padding:0 30px;
    
    }
    .footer-bottom a:first-child {
      
        border-right: 0.5px solid #999999;
      
      }