body {
  margin: 0;
}
.home {
  align-items: center;
  justify-content: center;
  position: relative;
  .tabPart {
    position: absolute;
    display: flex;
    .tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      cursor: pointer;
      color: unset;
      text-decoration: none;
      h5 {
        margin: 0 0 10px 0;
      }
    }
    .tab:hover {
      color: #409eff;
      filter: invert(56%) sepia(89%) saturate(2516%) hue-rotate(189deg) brightness(101%) contrast(102%);
    }
  }
  footer {
    position: absolute;
    bottom: 10px;
    a {
      color: #bbb;
      font-size: 10px;
      text-decoration: none;
      width: 160px;
    }
    a:hover {
      color: #409eff;
    }
  }
}
